In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [3]:
# Read raw CDC Birth data
data = pd.read_csv('natl2014.csv')

In [4]:
data.head()

,dob_yy,dob_mm,dob_tt,dob_wk,bfacil,f_facility,bfacil3,mage_impflg,mage_repflg,mager,...,ume_forcep,ume_vac,uop_induc,uld_breech,uca_anen,uca_spina,uca_ompha,uca_cleftlp,uca_hernia,uca_downs
0,2014,1,421.0,4,1.0,1,1,NaN,NaN,29,...,2,2,1,2,2,2,2,2,2,2
1,2014,1,658.0,4,1.0,1,1,NaN,NaN,25,...,2,2,1,2,2,2,2,2,2,2
2,2014,1,224.0,4,1.0,1,1,NaN,NaN,21,...,2,2,1,2,2,2,2,2,2,2
3,2014,1,1048.0,4,1.0,1,1,NaN,NaN,22,...,2,2,1,2,2,2,2,2,2,2
4,2014,1,119.0,5,1.0,1,1,NaN,NaN,25,...,2,2,2,2,2,2,2,2,2,2

In [5]:
# Count number of NaN values in each column
data.isnull().sum()

dob_yy                0
dob_mm                0
dob_tt           142900
dob_wk                0
bfacil           142900
f_facility            0
bfacil3               0
mage_impflg     3997741
mage_repflg     3998065
mager                 0
mager14               0
mager9                0
mbstate_rec           0
restatus              0
mrace31          131542
mrace6           131542
mrace15          131542
mbrace                0
mraceimp        3763262
mhisp_r               0
f_mhisp               0
mracehisp        131542
mar_p            142900
dmar                  0
mar_imp         3995000
f_mar_p               0
meduc            142900
f_meduc               0
fagerpt_flg     3994215
fagecomb         142900
                 ...
ca_clpal         142900
ca_downs         142900
ca_disor         142900
ca_hypo          142900
f_ca_limb             0
f_ca_cleftlp          0
f_ca_cleft            0
f_ca_downs            0
f_ca_chrom            0
f_ca_hypos            0
no_congen        142900
itran            142900
ilive            142900
bfed             142900
f_bfed                0
ubfacil               0
urf_diab              0
urf_chyper            0
urf_phyper            0
urf_eclam             0
ume_forcep            0
ume_vac               0
uop_induc             0
uld_breech            0
uca_anen              0
uca_spina             0
uca_ompha             0
uca_cleftlp           0
uca_hernia            0
uca_downs             0
dtype: int64

In [6]:
data.shape

(3998175, 241)

In [7]:
# Drop reduntant and unnessesary columns

new_data=data.drop(['dob_yy','dob_wk','dob_mm','dob_tt','bfacil','f_facility','mager','mager14',
                           'restatus','mrace31','mrace6','mbrace','f_mhisp','mracehisp',
                    'f_mar_p','f_meduc','fagerpt_flg','fagecomb','frace31','frace6','fbrace',
                    'f_fhisp','fracehisp','illb_r','ilop_r','ilp_r','f_mpcb','precare',
                    'previs','f_tpcv','f_wic','cig_0','cig_1','cig_2','cig_3','f_cigs_0','f_cigs_1',
                    'f_cigs_2','f_cigs_3','f_tobaco','f_m_ht','bmi','f_pwgt','f_dwgt','wtgain','f_wtgain',
                    'f_rf_pdiab','f_rf_gdiab','f_rf_phyper','f_rf_ghyper','f_rf_eclamp','f_rf_ppb','f_rf_inf_drg',
                    'f_rf_inf_art','f_rf_cesar','f_rf_ncesar','f_ip_gonor','f_ip_syph','f_ip_chlam','f_ip_hepatb',
                    'f_ip_hepatc','f_ob_succ','f_ob_fail','f_ld_indl','f_ld_augm','f_ld_ster','f_ld_antb','f_ld_chor',
                   'f_ld_anes','f_me_pres','f_me_rout','f_me_trial','me_rout','rdmeth_rec','f_dmeth_rec','f_mm_mtr',
                   'f_mm_rupt','f_mm_aicu','pay','f_pay_rec','apgar5','f_apgar5','apgar10',
                    'imp_plur','imp_sex','compgst_imp','obgest_flg','combgest','gestrec3','lmpused','oegest_comb',
                    'oegest_r3','bwtr12','f_ab_vent','f_ab_vent6','f_ab_nicu','f_ab_surfac','f_ab_antibio','f_ab_seiz',
                   'f_ca_anen','f_ca_menin','f_ca_heart','f_ca_hernia','f_ca_ompha','f_ca_gastro','f_ca_limb','f_ca_cleftlp',
                   'f_ca_downs','f_ca_chrom','f_bfed',], 1)

In [8]:
# Drop columns which contain large number of NaN values

new_data=new_data.dropna(axis=1, thresh=250000)

In [9]:
# Count number of NaN values in each column of new data frame

new_data.isnull().sum()

bfacil3             0
mager9              0
mbstate_rec         0
mrace15        131542
mhisp_r             0
mar_p          142900
dmar                0
meduc          142900
fagerec11           0
frace15        131542
fhisp_r             0
feduc          142900
priorlive           0
priordead           0
priorterm           0
lbo_rec             0
tbo_rec             0
illb_r11       142900
ilop_r11       142900
ilp_r11        142900
precare5       142900
previs_rec          0
wic            142900
cig0_r         142900
cig1_r         142900
cig2_r         142900
cig3_r         142900
cig_rec        142900
m_ht_in        142900
bmi_r          142900
                ...
ca_cdh         142900
ca_omph        142900
ca_gast        142900
ca_limb        142900
ca_cleft       142900
ca_clpal       142900
ca_downs       142900
ca_disor       142900
ca_hypo        142900
f_ca_cleft          0
f_ca_hypos          0
no_congen      142900
itran          142900
ilive          142900
bfed           142900
ubfacil             0
urf_diab            0
urf_chyper          0
urf_phyper          0
urf_eclam           0
ume_forcep          0
ume_vac             0
uop_induc           0
uld_breech          0
uca_anen            0
uca_spina           0
uca_ompha           0
uca_cleftlp         0
uca_hernia          0
uca_downs           0
dtype: int64

In [10]:
new_data.head()

,bfacil3,mager9,mbstate_rec,mrace15,mhisp_r,mar_p,dmar,meduc,fagerec11,frace15,...,ume_forcep,ume_vac,uop_induc,uld_breech,uca_anen,uca_spina,uca_ompha,uca_cleftlp,uca_hernia,uca_downs
0,1,4,1,1.0,0,X,1,7.0,6,1.0,...,2,2,1,2,2,2,2,2,2,2
1,1,4,1,3.0,0,N,2,3.0,11,99.0,...,2,2,1,2,2,2,2,2,2,2
2,1,3,1,1.0,0,X,1,4.0,3,1.0,...,2,2,1,2,2,2,2,2,2,2
3,1,3,1,2.0,0,N,2,5.0,11,99.0,...,2,2,1,2,2,2,2,2,2,2
4,1,4,1,1.0,0,X,1,5.0,4,1.0,...,2,2,2,2,2,2,2,2,2,2

In [11]:
new_data.shape

(3998175, 127)

In [12]:
# Count vlues in delivery method in CDC data
new_data.dmeth_rec.value_counts()

1    2706620
2    1287900
9       3655
Name: dmeth_rec, dtype: int64

In [13]:
new_data.columns[new_data.isnull().any()]

Index([u'mrace15', u'mar_p', u'meduc', u'frace15', u'feduc', u'illb_r11',
       u'ilop_r11', u'ilp_r11', u'precare5', u'wic', u'cig0_r', u'cig1_r',
       u'cig2_r', u'cig3_r', u'cig_rec', u'm_ht_in', u'bmi_r', u'pwgt_r',
       u'dwgt_r', u'rf_pdiab', u'rf_gdiab', u'rf_phype', u'rf_ghype',
       u'rf_ehype', u'rf_ppterm', u'rf_inftr', u'rf_fedrg', u'rf_artec',
       u'rf_cesar', u'rf_cesarn', u'no_risks', u'ip_gon', u'ip_syph',
       u'ip_chlam', u'ip_hepatb', u'ip_hepatc', u'no_infec', u'ob_ecvs',
       u'ob_ecvf', u'ld_indl', u'ld_augm', u'ld_ster', u'ld_antb', u'ld_chor',
       u'ld_anes', u'no_lbrdlv', u'me_pres', u'me_trial', u'mm_mtr',
       u'mm_plac', u'mm_rupt', u'mm_uhyst', u'mm_aicu', u'no_mmorb', u'mtran',
       u'pay_rec', u'apgar10r', u'setorder_r', u'ab_aven1', u'ab_aven6',
       u'ab_nicu', u'ab_surf', u'ab_anti', u'ab_seiz', u'no_abnorm',
       u'ca_anen', u'ca_mnsb', u'ca_cchd', u'ca_cdh', u'ca_omph', u'ca_gast',
       u'ca_limb', u'ca_cleft', u'ca_clpal', u'ca_downs', u'ca_disor',
       u'ca_hypo', u'no_congen', u'itran', u'ilive', u'bfed'],
      dtype='object')

In [14]:
new_data.mrace15.fillna(15, inplace=True)
new_data.mar_p.fillna('U', inplace=True)
new_data.meduc.fillna(9, inplace=True)
new_data.frace15.fillna(15, inplace=True)
new_data.feduc.fillna('U', inplace=True)

new_data.illb_r11.fillna(99, inplace=True)
new_data.ilop_r11.fillna(99, inplace=True)
new_data.ilp_r11.fillna(99, inplace=True)
new_data.precare5.fillna(99, inplace=True)
new_data.wic.fillna('U', inplace=True)

new_data.cig0_r.fillna(6, inplace=True)
new_data.cig1_r.fillna(6, inplace=True)
new_data.cig2_r.fillna(6, inplace=True)
new_data.cig3_r.fillna(6, inplace=True)
new_data.cig_rec.fillna('U', inplace=True)


new_data.m_ht_in.fillna(99, inplace=True)
new_data.bmi_r.fillna(9, inplace=True)
new_data.pwgt_r.fillna(999, inplace=True)
new_data.dwgt_r.fillna(999, inplace=True)

new_data.rf_pdiab.fillna('U', inplace=True)
new_data.rf_gdiab.fillna('U', inplace=True)
new_data.rf_phype.fillna('U', inplace=True)
new_data.rf_ghype.fillna('U', inplace=True)
new_data.rf_ehype.fillna('U', inplace=True)
new_data.rf_ppterm.fillna('U', inplace=True)
new_data.rf_inftr.fillna('U', inplace=True)
new_data.rf_fedrg.fillna('U', inplace=True)
new_data.rf_artec.fillna('U', inplace=True)
new_data.rf_cesar.fillna('U', inplace=True)
new_data.rf_cesarn.fillna('99', inplace=True)

new_data.no_risks.fillna('9', inplace=True)

new_data.ip_gon.fillna('U', inplace=True)
new_data.ip_syph.fillna('U', inplace=True)
new_data.ip_chlam.fillna('U', inplace=True)
new_data.ip_hepatb.fillna('U', inplace=True)
new_data.ip_hepatc.fillna('U', inplace=True)

new_data.no_infec.fillna(9, inplace=True)
new_data.ob_ecvs.fillna('U', inplace=True)
new_data.ob_ecvf.fillna('U', inplace=True)

new_data.ld_indl.fillna('U', inplace=True)
new_data.ld_augm.fillna('U', inplace=True)
new_data.ld_ster.fillna('U', inplace=True)
new_data.ld_antb.fillna('U', inplace=True)
new_data.ld_chor.fillna('U', inplace=True)
new_data.ld_anes.fillna('U', inplace=True)

new_data.no_lbrdlv.fillna(9, inplace=True)
new_data.me_pres.fillna(9, inplace=True)

new_data.me_trial.fillna('U', inplace=True)
new_data.mm_mtr.fillna('U', inplace=True)
new_data.mm_plac.fillna('U', inplace=True)
new_data.mm_rupt.fillna('U', inplace=True)
new_data.mm_uhyst.fillna('U', inplace=True)

new_data.mm_aicu.fillna('U', inplace=True)
new_data.no_mmorb.fillna(9, inplace=True)
new_data.mtran.fillna('U', inplace=True)
new_data.pay_rec.fillna(9, inplace=True)
new_data.apgar10r.fillna(5, inplace=True)

new_data.setorder_r.fillna(9, inplace=True)
new_data.ab_aven1.fillna('U', inplace=True)
new_data.ab_aven6.fillna('U', inplace=True)
new_data.ab_nicu.fillna('U', inplace=True)
new_data.ab_surf.fillna('U', inplace=True)

new_data.ab_anti.fillna('U', inplace=True)
new_data.ab_seiz.fillna('U', inplace=True)
new_data.no_abnorm.fillna(9, inplace=True)

new_data.ca_anen.fillna('U', inplace=True)
new_data.ca_mnsb.fillna('U', inplace=True)

new_data.ca_cchd.fillna('U', inplace=True)
new_data.ca_cdh.fillna('U', inplace=True)
new_data.ca_omph.fillna('U', inplace=True)
new_data.ca_gast.fillna('U', inplace=True)
new_data.ca_limb.fillna('U', inplace=True)

new_data.ca_cleft.fillna('U', inplace=True)
new_data.ca_clpal.fillna('U', inplace=True)
new_data.ca_downs.fillna('U', inplace=True)
new_data.ca_disor.fillna('U', inplace=True)
new_data.ca_hypo.fillna('U', inplace=True)

new_data.no_congen.fillna(9 , inplace=True)
new_data.itran.fillna('U', inplace=True)
new_data.ilive.fillna('U', inplace=True)
new_data.bfed.fillna('U', inplace=True)

In [15]:
new_data.columns[new_data.isnull().any()]

Index([], dtype='object')

In [16]:
# Drop axis with unknown method of delivery
new_data = new_data.drop(new_data[new_data.dmeth_rec == 9].index)

new_data.shape

(3994520, 127)

In [17]:
# Count vlues in delivery method in CDC data
new_data.dmeth_rec.value_counts()

1    2706620
2    1287900
Name: dmeth_rec, dtype: int64

In [18]:
# Export new data frame as CSV file
new_data.to_csv('data2014.csv')
print "New data exported successfully!"

New data exported successfully!