In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('natl2014.csv')

/Users/sabrinaaliyeva/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,56,70,83,84,85,86,87,88,95,96,97,101,106,107,108,109,110,117,118,121,122,123,124,125,126,136,143,144,145,146,147,155,184,185,186,187,188,189,197,198,199,200,201,202,209,210,211,212,213,214,222,223,224) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
data.head()

,dob_yy,dob_mm,dob_tt,dob_wk,bfacil,f_facility,bfacil3,mage_impflg,mage_repflg,mager,...,ume_forcep,ume_vac,uop_induc,uld_breech,uca_anen,uca_spina,uca_ompha,uca_cleftlp,uca_hernia,uca_downs
0,2014,1,421.0,4,1.0,1,1,NaN,NaN,29,...,2,2,1,2,2,2,2,2,2,2
1,2014,1,658.0,4,1.0,1,1,NaN,NaN,25,...,2,2,1,2,2,2,2,2,2,2
2,2014,1,224.0,4,1.0,1,1,NaN,NaN,21,...,2,2,1,2,2,2,2,2,2,2
3,2014,1,1048.0,4,1.0,1,1,NaN,NaN,22,...,2,2,1,2,2,2,2,2,2,2
4,2014,1,119.0,5,1.0,1,1,NaN,NaN,25,...,2,2,2,2,2,2,2,2,2,2

In [25]:
data.isnull().sum()

dob_yy                0
dob_mm                0
dob_tt           142900
dob_wk                0
bfacil           142900
f_facility            0
bfacil3               0
mage_impflg     3997741
mage_repflg     3998065
mager                 0
mager14               0
mager9                0
mbstate_rec           0
restatus              0
mrace31          131542
mrace6           131542
mrace15          131542
mbrace                0
mraceimp        3763262
mhisp_r               0
f_mhisp               0
mracehisp        131542
mar_p            142900
dmar                  0
mar_imp         3995000
f_mar_p               0
meduc            142900
f_meduc               0
fagerpt_flg     3994215
fagecomb         142900
                 ...
ca_clpal         142900
ca_downs         142900
ca_disor         142900
ca_hypo          142900
f_ca_limb             0
f_ca_cleftlp          0
f_ca_cleft            0
f_ca_downs            0
f_ca_chrom            0
f_ca_hypos            0
no_congen        142900
itran            142900
ilive            142900
bfed             142900
f_bfed                0
ubfacil               0
urf_diab              0
urf_chyper            0
urf_phyper            0
urf_eclam             0
ume_forcep            0
ume_vac               0
uop_induc             0
uld_breech            0
uca_anen              0
uca_spina             0
uca_ompha             0
uca_cleftlp           0
uca_hernia            0
uca_downs             0
dtype: int64

In [27]:
data.shape

(3998175, 241)

In [6]:
new_data=data.drop(['dob_yy','dob_tt','bfacil','f_facility','mager','mager14',
                           'restatus','mrace31','mrace6','mbrace','f_mhisp','mracehisp',
                    'f_mar_p','f_meduc','fagerpt_flg','fagecomb','frace31','frace6','fbrace',
                    'f_fhisp','fracehisp','illb_r','ilop_r','ilp_r','f_mpcb','precare',
                    'previs','f_tpcv','f_wic','cig_0','cig_1','cig_2','cig_3','f_cigs_0','f_cigs_1',
                    'f_cigs_2','f_cigs_3','f_tobaco','f_m_ht','bmi','f_pwgt','f_dwgt','wtgain','f_wtgain',
                    'f_rf_pdiab','f_rf_gdiab','f_rf_phyper','f_rf_ghyper','f_rf_eclamp','f_rf_ppb','f_rf_inf_drg',
                    'f_rf_inf_art','f_rf_cesar','f_rf_ncesar','f_ip_gonor','f_ip_syph','f_ip_chlam','f_ip_hepatb',
                    'f_ip_hepatc','f_ob_succ','f_ob_fail','f_ld_indl','f_ld_augm','f_ld_ster','f_ld_antb','f_ld_chor',
                   'f_ld_anes','f_me_pres','f_me_rout','f_me_trial','rdmeth_rec','f_dmeth_rec','f_mm_mtr',
                   'f_mm_rupt','f_mm_aicu','pay','f_pay_rec','apgar5','f_apgar5','apgar10',
                    'imp_plur','imp_sex','compgst_imp','obgest_flg','combgest','gestrec3','lmpused','oegest_comb',
                    'oegest_r3','bwtr12','f_ab_vent','f_ab_vent6','f_ab_nicu','f_ab_surfac','f_ab_antibio','f_ab_seiz',
                   'f_ca_anen','f_ca_menin','f_ca_heart','f_ca_hernia','f_ca_ompha','f_ca_gastro','f_ca_limb','f_ca_cleftlp',
                   'f_ca_downs','f_ca_chrom','f_bfed',], 1)

In [7]:
new_data_nonan=new_data.dropna(axis=1, thresh=250000)

In [9]:
new_data_nonan.isnull().sum()

dob_mm              0
dob_wk              0
bfacil3             0
mager9              0
mbstate_rec         0
mrace15        131542
mhisp_r             0
mar_p          142900
dmar                0
meduc          142900
fagerec11           0
frace15        131542
fhisp_r             0
feduc          142900
priorlive           0
priordead           0
priorterm           0
lbo_rec             0
tbo_rec             0
illb_r11       142900
ilop_r11       142900
ilp_r11        142900
precare5       142900
previs_rec          0
wic            142900
cig0_r         142900
cig1_r         142900
cig2_r         142900
cig3_r         142900
cig_rec        142900
                ...
ca_cdh         142900
ca_omph        142900
ca_gast        142900
ca_limb        142900
ca_cleft       142900
ca_clpal       142900
ca_downs       142900
ca_disor       142900
ca_hypo        142900
f_ca_cleft          0
f_ca_hypos          0
no_congen      142900
itran          142900
ilive          142900
bfed           142900
ubfacil             0
urf_diab            0
urf_chyper          0
urf_phyper          0
urf_eclam           0
ume_forcep          0
ume_vac             0
uop_induc           0
uld_breech          0
uca_anen            0
uca_spina           0
uca_ompha           0
uca_cleftlp         0
uca_hernia          0
uca_downs           0
dtype: int64

In [12]:
new_data_nonan.head()

,dob_mm,dob_wk,bfacil3,mager9,mbstate_rec,mrace15,mhisp_r,mar_p,dmar,meduc,...,ume_forcep,ume_vac,uop_induc,uld_breech,uca_anen,uca_spina,uca_ompha,uca_cleftlp,uca_hernia,uca_downs
0,1,4,1,4,1,1.0,0,X,1,7.0,...,2,2,1,2,2,2,2,2,2,2
1,1,4,1,4,1,3.0,0,N,2,3.0,...,2,2,1,2,2,2,2,2,2,2
2,1,4,1,3,1,1.0,0,X,1,4.0,...,2,2,1,2,2,2,2,2,2,2
3,1,4,1,3,1,2.0,0,N,2,5.0,...,2,2,1,2,2,2,2,2,2,2
4,1,5,1,4,1,1.0,0,X,1,5.0,...,2,2,2,2,2,2,2,2,2,2

In [11]:
new_data_nonan.to_csv('data2014.csv')

In [13]:
new_data_nonan.shape

(3998175, 130)